.btn{
	.transition(0.2s);
	.fp;
	.border-radius(4px);
	margin: 0;
	padding: 0 12px;
	border : 0;
	height: 36px;
	line-height: 36px;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @blue;
	&:hover{
		background: darken(@blue,5%);
	}
}
