// fonts
.fp {font-family: Verdana, 'Geneva CE', lucida, sans-serif;} // font primary
.fh {font-family: Verdana, 'Geneva CE', lucida, sans-serif;} // font header
.fs {font-family: 'Ubuntu Condensed', sans-serif;} // font specific
.fi {font-family: 'cn-icons',sans-serif;} // font icon


// body
@bb: #f0f0f2; // body background

// colors
@green: #beb400;
@blue: #003c78;
@cp: #787878; // color primary
@cl: @blue; // color link

// font sizes
@fsp: 14px; // font size primary
@fsh1: 26px; // font size h1
@fsh2: 20px; // font size h2
@fsh3: 18px; // font size h3
@fsh4: 16px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1000px;
@content-padding: 18px;