input[type=text],input[type=password],input[type=email],input[type=number],select,textarea {
	.rin;
	.border-radius(3px);
	.placeholder(@cp);
	.box-shadow(0 0 1px #000);
	position: relative;
	top: -1px;
	height: 34px;
	padding: 0 10px;
	background: #fff;
	color: @blue;
	border: 2px solid #e3e2bf;
	&:focus {
		.placeholder(transparent);
	}
}
button,input[type=button],input[type=submit] {
	.btn;
}

// uniformjs
.selector {
	position: relative;
	top: -2px;
	overflow: hidden;
	padding: 1px 2px 1px 1px;
	margin: 0 0 0 -2px;
	height: 36px;
	display: inline-block;
	vertical-align: middle;
	&:before{
		.fi;
		position: absolute;
		content: '\e801';
		z-index: 1;
		top: 0;
		right: 0;
		width: 33px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		font-size: 17px;
	}
	&.date-icon {
		&:before{
			.border-radius(0 2px 2px 0);
			content: '';
			top: 3px;
			right: 3px;
			width: 29px;
			height: 30px;
			background: #fff url(../images/icon/04.png) no-repeat center;
		}
	}
	span {
		.border-radius(3px);
		.placeholder(@cp);
		.box-shadow(0 0 1px #000);
		position: relative;
		top: -1px;
		display: inline-block;
		line-height: 34px;
		height: 34px;
		padding: 0 10px;
		margin: 1px;
		width: 100%!important;
		background: #fff;
		color: @blue;
		border: 2px solid #e3e2bf;
		border-right-width: 32px;
		white-space: nowrap;
		overflow: hidden;
	}
	select {
		position: absolute;
		z-index: 2;
		left: 2px;
		top: -2px;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
}